* {
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size: 100%;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body {
    /* padding: 2rem; */
    padding-top: 2rem;
    background-color: rgb(246, 248, 248);
}

.calculator {
    /* border: solid rgb(87, 73, 73); */
    /* border-radius: 2em; */

    /* max-width: 23%; */
    margin: auto;
    height: fit-content;
    
    

    /* display: flex;
    justify-content: center; */
}

.container {
    /* border: solid red; */
    background-color: rgb(246, 248, 248);
    height: 6rem;
    padding: 2rem;
    font-size: 2rem;
    max-width: 240px;
    border-radius: 1em;
    margin: auto;
    color: black;
    /* width: fit-content; */
}

.numbers {
    /* border: solid blue; */
    border-radius: 1em;
    height: fit-content;
    width: fit-content;
    text-align: center;
    /* padding: 0.2rem; */
    max-width: 305px;
    margin: auto;
    background-color: rgb(246, 248, 248);
}

.every-number {
    border: solid white;
    /* margin: 0.3rem; */
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 32rem;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: sans-serif;
    
}

#equalbutton {
    background-color: orangered;
}
